<div class="nifty-modal">
    <div class="nifty-content">
        <h3><%= title %></h3>
        <div class="nifty-error">This is a test error message</div>
        <div class="nifty-inner">
            <p><%= message %></p>
            <input type="<%= type %>" value="<%= value %>">
            <div class="nifty-buttons">
                <button id="cancel-btn" class="btn btn-default">Cancel</button>
                <button id="ok-btn" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="nifty-overlay"></div>